<?xml version='1.0'?>
<robot name = 'robot' xmlns:xacro = 'http://www.ros.org/wiki/xacro'>
    <!-- arguments and parameters -->
    <xacro:arg name = "robot_name" default = "robot1"/>
    <xacro:property name = "prefix" value = "$(arg robot_name)"/>

    <xacro:arg name = "robot_capability" default = "depth"/>
    <xacro:property name = "capability" value = "$(arg robot_capability)"/>

    <DEBUG_MSG value = "Loading prefix value: ${prefix}"/>

    <!-- include files -->
    <xacro:include filename = 'robot_body.xacro'/>
    <xacro:include filename = 'robot_peripherals.xacro'/>
    <xacro:include filename = 'robot_gazebo_properties.xacro'/>

</robot>